@import "./base.css";
@import "tailwindcss";

@theme {
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
  --color-sunflower: #f2c464;
  --color-night: #0b0f1a;
  --color-deepPurple: #2e1a47;
  --color-neonPink: #ff3ca6;
  --color-neonBlue: #00ffff;
  --color-neonPurple: #9b59b6;
  --color-neonCyan: #00d9f5;
  --color-starYellow: #ffd93d;
  --color-starWhite: #e9f1f7;
  --color-starBlack: #2e2660;
}

#app {
  width: 100%;
  height: 100%;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    width: 100%;
    height: 100%;
  }
}
